:root {
  --primary-color: hsl(220, 90%, 60%);
  --secondary-color: hsl(340, 100%, 67%);
  --background-color: hsl(230, 10%, 10%);
  --text-color: hsl(0, 0%, 98%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 800;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--primary-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: hsl(230, 10%, 95%);
    --text-color: hsl(230, 10%, 10%);
  }
  a:hover {
    color: var(--secondary-color);
  }
  button {
    background-color: var(--background-color);
  }
}
